examples {
  ["minimal Test"] {
    new {
      name = "tcp"
      description = null
      shell = "bash"
      env {}
      workdir = null
      timeoutSec = 60
      cmd = "curl -fsS http://localhost:8080/health"
      stdin = null
      expectExitCode = 0
      expectStdout = """
        ok
        
        """
      expectStderr = null
      steps {}
      parallelSteps {}
      background {}
    }
  }
}
